.org {
    height: 100%;
    width: 100%;
}

.org .org-tree-box {
    width: 270px;
    float: left;
    background-color: #fff;
    border-right: 1px solid #e3e7ea;
    height: 100%;
}

.org .org-tree-box .org-tree-header {
    padding: 20px;
    line-height: 1;
    border-bottom: 1px solid #e3e7ea;
    font-size: large;
}

.org .org-tree-box .org-tree-header > span {
    line-height: 1;
    font-size: large;
}

.org .org-tree-box .org-tree-header i {
    float: right;
    margin: 0 8px;
    cursor: pointer;
    color: #c2cad6;
}

.org-tree-body {
    line-height: 30px;
    //height: 100%;
    //overflow: auto;
}

.org .org-tree-box {
    line-height: 30px;
}

.select-list-groupl, .select-name-group {
    // height: calc(100% - 59px);
    box-sizing: border-box;
    z-index: 99;
    //overflow: auto;
    //min-height:calc(100% - 59px);
}

.select-list-groupl .dashed-line, .select-name-group .dashed-line {
    padding-left: 24px;
}

.select-list-groupl i, .select-name-group i {
    font-size: 20px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: -24px;
    color: #bec6d3;
}

.select-list-groupl .empty-icon, .select-name-group .empty-icon {
    display: none;
}

.select-list-groupl .title, .select-name-group .title {
    color: #616e77;
    position: relative;
}

.select-title-groupl {
    padding: 5px 18px;
    cursor: pointer;
}

.select-title-groupl:hover {
    background-color: #f5f6f8;
}

.select-title-groupl:hover .node-plus {
    display: inline-block;
}

.select-list-group .node-plus, .select-name-group .node-plus {
    display: none;
    background-image: url("/src/img/org-node-plus.png");
    height: 19px !important;
    width: 19px !important;
    position: relative;
    top: 4px;
}

.new-org-box {
    position: relative;
    //width: 520px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 40px #bec6d3;

    %box-header {
        padding: 20px;
        line-height: 1;
        font-size: large;
        border-bottom: 1px solid $input-border-color;
    }

    .org-box-header {
        @extend %box-header;

        i {
            float: right;
            color: $gray-dark;
        }
    }

    .org-box-body {
        font-size: 14px;
        padding: 23px 20px;

        input {
            width: 100%;
            box-sizing: border-box;
        }

        p.meeting-detail-topic {
            margin: 20px 0;
        }
    }

    .org-title {
        display: inline-block;
        width: 30%;
        vertical-align: super;
    }

    .org-line {
        padding-top: 17px;

        .org-formInput {
            display: inline-block;
            vertical-align: middle;
            width: 69%;
            padding-bottom: 17px;

            .form-c {
                background-color: #ffffff;
            }
        }
    }

    .org-box-footer {
        border-top: 1px solid $input-border-color;
        position: absolute;
        width: 100%;
        bottom: 0;

        %footer-btn {
            display: inline-block;
            right: 0;
            float: right;
            padding: 10px 35px;
            border:none;
        }

        .btn-comfirm {
            @extend %footer-btn;
            background-color: $blue-base;
            color: $light-base;
            cursor: pointer;

            &:hover {
                background: rgba($blue-base, 0.8);
                //      color:$hover-color;
                border-color: rgba($blue-base, 0.1);
            }
        }

        .btn-danger {
            float: left;
            padding: 10px 35px;
            cursor: pointer;
            color: #ff3366;
            background-color: #fff;
            border-color: #fff
        }

      .btn-danger:hover{
        color: #fff;
        background-color: #ff3366;
        border-color: #ff3366
      }

        .btn-cancle {
            @extend %footer-btn;
            cursor: pointer;
        }
    }
}

.org-right-box-header {
    padding: 20px;
    line-height: 1;
    border-bottom: 1px solid #e3e7ea;
    font-size: large;

    i {
        margin: 0 30px;
        color: #c2cad6;
        cursor: pointer;
    }
}

.org-breadcrumbs {
    margin: 19px 0 0 0;

    ul {
        overflow: hidden;

        li {
            color: #c2cad6;
            float: left;

            i {
                margin-right: 4px;
            }

            span {
                margin: 0 4px;
            }

            span:last-child {
                cursor: pointer;
                color: #616e77;
            }
        }
    }
}

.memberNum {
    color: #0099ff;
}


/*
.address-member-box{
  /!*background:$light-base;
  overflow:hidden;
  min-width:520px;
  float:left;
  width:79%;
  height:100%;*!/
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #fff;
}*/
.address-member-box {
    position: relative;
    background: $light-base;
    overflow: hidden;
    min-width: 520px;
    height: 100%;
    border-right: 1px solid #e3e7ea;
}
