//通讯录页面

.bg-address-book{
  position: absolute;
  top:0px;
  left:0px;
}

.address-book-name{
  text-align: center;
  color: $light-base;
  position: relative;
  font-size: 30px;
  span{
    cursor: pointer;
//    &:hover ~i.icon-chat{
//      opacity: 1;
//    }
  }
  i.icon-chat{
    position: absolute;
    color: $light-base;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
    &:hover{opacity: 1; cursor: pointer;}
  }
}

.address-book-avatar-wrapper{
  text-align: center;
  background-image:url("../img/img-address-book.png");
  background-size: cover;
  height:35%;
  min-height: 330px;
  position: relative;
  img{border-radius:50%;position: relative;border: 5px solid $light-base;}
  .main-box{
    width: 300px;
    position: absolute;
    top: 50%;
    margin-top: -110px;
    left: 50%;
    margin-left: -150px;
    cursor: pointer;
    &:hover{
      .icon-chat{opacity: 1}
    }
  }
}

.address-book-detail-wrapper{
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}
.address-book-detail-group{
  width: 33.3%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  margin-bottom: 40px;
  .item-title{
    font-size: 14px;
    color: $gray-dark;
    margin-bottom: 10px;
//    @extend %ellipsis;
  }
  .item-detail{
    font-size: 18px;
    color: $gray-darker;
    @extend %ellipsis;
    min-height: 32px;
  }
}


.address-book-icon{
  font-size: 150px;
  color: $gray-light;
}
.address-book-text{
  margin-top: 20px;
  color: $gray-light;
}
.address-book-bg-wrapper{
  position: relative;
  top: calc(50% - 101px);
}