// chat-area


.chat-area{
  //@extend %area;
  //max-width:$chat-area-max-width;

//  @extend %half-detail-area;
//  width:auto;
  max-width:calc(50%);

}

.chat-title{
  cursor:pointer;
  text-align:center;
  @extend %detail-area-title;

  .chat-title-name{
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;
    @extend %ellipsis;
  }
}



.chat-content{
//  height: 600px;
//  overflow: auto;
  padding:15px 20px;
}

.right-panel{
  float:right;
  height: 100%;
  width: 650px;
  @media(max-width: 1600px){
    width: 500px;
  }
}

@import "c_chat_room";
@import "c_chat_messages";
@import "c_chat_send";
@import "c_chat_message_record";