//下拉事件、会议

.dropdown{
  display:inline-block;
  position:relative;
}

.comment{
  .dropdown-list{
    border:1px solid $gray-dark;
  }
}
.dropdown-list{
  min-width: 100px;
  font-size: $font-size-small;
  z-index:$z-index-base;
  border-radius: 3px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  position: absolute;
  background:$light-base;
  text-align:center;
  white-space: nowrap;
//  left: 50%;
  transform:translateX(-50%);

  &.right{
    transform:translateX(-80%);
  }


  .partingLine{border-bottom: 1px solid $gray-light!important;}
  .dropdown-item{
    padding:8px 20px;
    border-bottom:1px solid $gray-light;
    span{cursor:pointer;margin: 0;line-height: 18px;}
    .checkbox{
      display:inline-block;
      padding-right:8px;
    }
    a{
      color: $gray-darker;
      &:hover{
        color:$blue-base;
      }
    }
    &:last-child{border: none;}
    i{margin-right: 7px;color: $gray-dark;}
    %circle{
      width: 7px;
      height: 7px;
      margin-left: 8px;
      margin-right: 8px;
      display: inline-block;
      padding: 0;
    }
    .circle-event{
      @extend %circle-tip;
      @extend %circle;
      background-color: $green-base;

    }
    .circle-meeting{
      @extend %circle-tip;
      @extend %circle;
      background-color: $blue-base;
    }
  }
}


.dropdown-list-black{
  @extend .dropdown-list;
  background-color: rgba(0,0,0,0.8);
  transform:translateX(0) !important;
  span{color: $light-base}
  .dropdown-item{padding: 5px 10px;}
  li,span{cursor: text !important;}
  min-width: 0;
}



.dropdown-list.bottom{
  &:before{
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  box-shadow:3px 3px 5px rgba(0,0,0,0.05);
  transform: rotate(-314deg);
 left:calc(50% - 6px);
  bottom: -5px;
  background: #fff;
  z-index: 5;
}
}

.dropdown-list.bottom-left{
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    box-shadow:3px 3px 5px rgba(0,0,0,0.05);
    transform: rotate(-314deg);
    left:calc(20% - 6px);
    bottom: -5px;
    background: #fff;
    z-index: 5;
  }
}

.dropdown-list.top-right{
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    box-shadow:3px 3px 5px rgba(0,0,0,0.05);
    transform: rotate(224deg);
    left: calc(100% - 30px);
    top: -5px;
    background: #fff;
    z-index: 5;
  }
}
.dropdown-list-black.top-right{
  @extend  .dropdown-list.top-right;
  &:before{
    left: inherit;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.8);
    top: -10px;
    position: absolute;
    margin-left: -7px;
    transform: rotate(180deg);
    box-shadow: 0 0 0 #fff;
  }
}

.dropdown-list-black.bottom{
  @extend .dropdown-list.bottom;
  &:before{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.8);
    bottom: -10px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    transform: rotate(0deg);
    box-shadow: 0 0 0 #fff;
  }
}


.dropdown-list-black.hidden{opacity: 0;}

.dropdown-list.bottom-right{
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    box-shadow:3px 3px 5px rgba(0,0,0,0.05);
    transform: rotate(-314deg);
    left: 50px;
    bottom: -5px;
    background: #fff;
    z-index: 5;
  }
}

.dropdown-list-black.bottom-right{
  @extend  .dropdown-list.bottom-right;
  &:before{
    left: inherit;  right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgba(0,0,0,0.8);
    bottom: -6px;
    position: absolute;
    margin-left: -7px;
    transform: rotate(0deg);
    box-shadow: 0 0 0 #fff;

  }
}
.dropdown-list.bottom-left{  //系统设置,帮助中心和退出登录
  &:before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    box-shadow:3px 3px 5px rgba(0,0,0,0.05);
    transform: rotate(-314deg);
    right: 70px;
    bottom: -5px;
    background: #fff;
    z-index: 5;
  }
}

.dropdown-list.top{
  &:before{
        content: '';
        width: 12px;
        height: 12px;
        background-color: #fff;
        position: absolute;
        box-shadow:3px 3px 5px rgba(0,0,0,0.05);
        transform: rotate(-136deg);
        left:calc(50% - 6px);
        top: -4px;
        background: $light-base;
        z-index: 5;
  }
}


.dropdown-list.settings .dropdown-item{
  padding: 8px 15px;
  border-bottom: 0;
  i{margin-right: 3px;}

}
.mem-dropdown-list{top:32px;left:18px;}
.tooltip-inner{
  opacity: 0;
  top: -50px;
  left: 41px;
  @media(min-width:1600px){
    left: 55px;
  }
}
.tooltip-wrapper{
  &:hover{
    .tooltip-inner{opacity: 1;transform: translateX(-50%) !important;}
  }
}