.global-panel{
  @include panel($global-panel-width-base);
  @media (min-width:$media-middle-width){
    width:$global-panel-width;
  }
  text-align:center;
  position:fixed;
  left:0;
  top:0;
  z-index:$z-index-base;
//  box-shadow:1px 0 3px rgba(0, 0, 0, 0.1);

}

%border-bottom{
  border-bottom:1px solid $gray-light;
}

.global-panel-item {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 32px;
    text-decoration: none;

    @extend %border-bottom;
    position: relative;

    &.icon-chat:hover,
    &.icon-chat.active {
        color: $blue-base;

        &:before {
            content: "\e888";
        }
    }

    &.icon-contacts:hover,
    &.icon-contacts.active {
        color: $blue-base;

        &:before {
            content: "\e88a";
        }
    }

    &.icon-app:hover,
    &.icon-app.active {
        color: $blue-base;

        &:before {
            content: "\e886";
        }
    }

    .circle-tip {
        font-family: $font-family;
        position: absolute;
        left: 43px;
        top: 14px;

        @media (min-width:$media-middle-width) {
            left:53px;
        }
    }
}
.circle-tip{
  @extend %circle-tip;
}
.global-panel-logo{
  height:100px;
  @extend %border-bottom;
}


//底部退出按钮
.global-panel-exit{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  left: 0;
  cursor: pointer;
  .ellipsis-wrapper{
    color: $gray-dark;
    display: inline-block;
    border-radius: 50%;
    border:1px solid $gray-dark ;
    width: 30px;
    height: 30px;
    position: relative;
    i{font-size: 18px;line-height: 32px;}
    &:hover{
      border-color: $blue-base;
      background-color: $blue-base;
      i.icon-ellipsis{color: $light-base}
    }
  }
}

.global-panel-avatar{
  position: absolute;
  bottom: 65px;
  text-align: center;
  width: 100%;
  img{
    border-radius: 3px;
  }
}

