.lightbox{
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  &.lightbox-show{
    display: block;
  }
  .lightbox-mark{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #79848A;
    opacity: 0.8;
  }
  .lightbox-content{
    text-align: center;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
  }
  .lightbox-nav{
    position: absolute;
    background-color: #637079;
    width: 100%;
    color:$light-base;
    padding: 5px 0;
    opacity: 0.6;
  }
  .lightbox-top{
    @extend .lightbox-nav;
    top: 0;
  }
  .lightbox-bottom{
    @extend .lightbox-nav;
    bottom: 0;
  }
  .lightbox-arrow{
    position: absolute;
    color:$light-base;
    line-height: 40px;
    font-size: 25px;
    top: 45%;
    width: 40px;
    height: 40px;
    background-color: #637079;
    border-radius: 15%;
    cursor: pointer;
  }
  .lightbox-left-arrow{
    left:2%;
  }
  .lightbox-right-arrow{
    right:2%;
  }

  .lightbox-action{
    position: absolute;
    right: 6px;
    top: 6px;
    li{
      margin-right: 35px;
      cursor: pointer;
      float: right;
      i{
        font-size: 22px;
        color:$light-base;
      }
    }
  }
}