.launchr-tree{
  //padding: 0 15px;

  //box-sizing: border-box;
  overflow: auto;

//  margin-left: -20px;
  span {  //�����
//    background-color: $gray-lighter;
  }
  li {
    margin-left: 20px;
  }
  .dashed-line {
    //margin: 18px auto;
    //height: 1px;
    //border-bottom: 1px dashed $gray-light;
  }
  i {
    font-size: 20px;
  }
  .title {
    color: $gray-dark;
    background-color: $gray-lighter;
    //position: relative;
    //top: -15px;
//    font-weight: 100;
    cursor: pointer;
    &:hover{color: $blue-base;}
  }

  .title-check-box {
    display: inline-block;
    //width: 13px !important;
    //position: relative;
    //top: -6px;

  }
}

.sub-panel .launchr-tree{
  height: calc(100% - 100px);
}



.treeview-user{

    img {
      margin-right: 5px;
      border-radius: 3px;
      vertical-align: middle;
      margin-bottom: 12px;
    }

  .treeview-user-check{
    display: inline-block;
    //width: 13px !important;
    margin-top:6px;
  }
}

.treeview-item{
  //height: 15px;
}

.treeview-children{
  &.collapsed{
    height:0;
    overflow:hidden;
  }
}

.treeview-children{
  margin-left:20px;
}

.sub-panel .item-wrapper-width{
  width: 89%;
  padding-left: 5%;
}
.sub-panel .launchr-tree{
  padding: 0 7px 0 15px;
  height: calc(100% - 100px);
  box-sizing: border-box;
  //overflow: auto;
  overflow: visible;
  //  margin-left: -20px;
  span {  //�����
    //    background-color: $gray-lighter;
  }
  li {
    margin-left: 20px;
  }
  .dashed-line {
    //margin: 18px auto;
    //height: 1px;
    //border-bottom: 0px dashed $gray-light;
  }
  i {
    font-size: 20px;
  }

  .title {
    background-color:  white;
  }

  .title-check-box {
    display: inline-block;
    width: 13px !important;
    position: relative;
    top: -6px;

  }

  .treeview-user{
    &:hover{background-color: $gray-lighter;}
  }
}

.sub-panel .launchr-tree{
  height: calc(100% - 100px);
}



.treeview-user{
  margin-bottom: 10px;
  padding: 5px;
  height: 30px;
  @extend %ellipsis;
  &:hover{background-color: $gray-light}
  img {
    margin-right: 5px;
    border-radius: 3px;
    vertical-align: middle;
  }

  .treeview-user-check{
    display: inline-block;
    //width: 13px !important;
    position: relative;
    //top: 15px;
  }
}

.treeview-item{
  //height: 15px;
  padding-right:5px;
}

.treeview-children{
  &.collapsed{
    height:0;
    overflow:hidden;
  }
}


.treeview-children{
  margin-left:20px;
}

//.treeview-item{
//  height: 20px;
//}


.select-name-input label{line-height: 27px;}//选人控件的checkbox垂直居中
